body{
font-family:Arial;
width:300px;
margin:auto;
}

input{
width:100%;
padding:8px;
margin:5px 0;
}

span{
color:red;
font-size:12px;
}

.strength{
height:10px;
background:#ddd;
margin-top:5px;
}

#strengthBar{
height:100%;
width:0%;
background:red;
}